<main class="container pt-4">
  <h3 class="fw-bold">Order History</h3>
  <cx-table [data]="tableData">
    <ng-container filters>
      <div class="col-12 col-md-6 col-lg-auto mb-3 mb-lg-0">
        <cx-multi-choice-filter
          label="Status"
          field="status"
          [options]="['Pending', 'In Progress', 'Completed']"
        ></cx-multi-choice-filter>
      </div>
      <div class="col-12 col-md-6 col-lg-auto col-md-auto mb-3 mb-lg-0">
        <cx-dropdown-filter
          label="Product Line"
          placeholder="All Product Lines"
          field="productLine"
          [options]="['Ready-Mix', 'Aggregates', 'Cement']"
        ></cx-dropdown-filter>
      </div>
      <div class="col-12 col-md-6 col-lg-auto mb-3 mb-lg-0">
        <cx-date-range-filter label="" field="dateRequested">
        </cx-date-range-filter>
      </div>
      <div class="col-12 col-lg-auto align-self-end mb-3 mb-lg-0">
        <cx-text-search-filter
          field="orderNumber"
          placeholder="Search for Order Number"
        ></cx-text-search-filter>
      </div>
    </ng-container>
    <cx-table-column header="Status" propertyName="status">
      <ng-template let-item="item" #template>
        <div class="d-flex">
          <div
            class="py-1 px-3 rounded-1"
            [ngClass]="{
            'bg-primary': item.status === 'In Progress',
            'bg-warning': item.status === 'Pending',
            'bg-success': item.status === 'Completed',
          }"
          ></div>
          <span class="ms-2 text-nowrap">{{ item.status }}</span>
        </div>
      </ng-template>
    </cx-table-column>
    <cx-table-column header="Order Number" propertyName="orderNumber" />
    <cx-table-column header="Product Line" propertyName="productLine" />
    <cx-table-column
      header="Product"
      propertyName="product"
      cssClass="col-12 col-lg-3"
    >
      <ng-template let-item="item" #template>
        <span class="fw-bold">{{ item.product }}</span>
      </ng-template>
    </cx-table-column>
    <cx-table-column header="Quantity" propertyName="quantity" />
    <cx-table-column header="Date Requested" propertyName="requiredDate">
      <ng-template let-item="item" #template>
        {{ item.dateRequested | date : "dd.MM.yyyy" }}
      </ng-template>
    </cx-table-column>
  </cx-table>
</main>
