/* You can add global styles to this file, and also import other style files */

.p-calendar {
  input {
    padding-top: 6px;
    padding-bottom: 6px;
    max-width: 150px;
  }
}

.gap-3 {
  gap: 0.75rem;
}
